on:
  issues:
    types: [opened]
  discussion:
    types: [created]
  workflow_dispatch:

jobs:
  dupliket:
    runs-on: ubuntu-latest
    steps:
      - name: Find possible duplicates
        uses: Namchee/dupliket@latest
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          api_key: ${{ secrets.OPENAI_API_KEY }}
